<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="validation_form"
                 translate="label"
                 type="text"
                 sortOrder="10"
                 showInDefault="1"
                 showInWebsite="1"
                 showInStore="1">
            <label>Validation Form</label>
            <tab>customer</tab>
            <resource>Jkelle_Customer::validation_form</resource>
            <group id="fields"
                   translate="label"
                   type="text"
                   sortOrder="10"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>Fields</label>
                <field id="enabled"
                       type="select"
                       translate="label comment tooltip"
                       sortOrder="10"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Enabled</label>
                    <validate>required-entry</validate>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>validation_form/fields/enabled</config_path>
                    <comment>Helpful message about using this field.</comment>
                    <tooltip>Longer helpful message about using this field.</tooltip>
                </field>
                <field id="phone"
                       translate="label"
                       type="text"
                       sortOrder="20"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Phone</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="postcode"
                       translate="label"
                       type="text"
                       sortOrder="30"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Postcode</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="default_number_phone"
                       type="text"
                       translate="label"
                       sortOrder="40"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Default number</label>
                    <validate>validate-no-empty alphanumeric validate-jkelle-phone</validate>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="test"
                   translate="label"
                   type="text"
                   sortOrder="20"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
            <attribute type="expanded">1</attribute> <!-- par défaut, il est deployé pour le premier sinon non -->
            <label>Test</label>
                <field id="textarea"
                       type="textarea"
                       translate="label"
                       sortOrder="10"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>textarea</label>
                </field>
                <field id="button"
                       type="button"
                       translate="label"
                       sortOrder="20"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>button</label>
                </field>
                <field id="time"
                       type="time"
                       translate="label"
                       sortOrder="30"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>time</label>
                </field>
                <field id="file"
                       type="file"
                       translate="label"
                       sortOrder="40"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>file</label>
                    <backend_model>Magento\Config\Model\Config\Backend\File</backend_model>
                    <upload_dir config="system" scope_info="1">pdf</upload_dir>
                </field>
                <field id="image"
                       type="image"
                       translate="label"
                       sortOrder="50"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>image</label>
                    <backend_model>Magento\Config\Model\Config\Backend\File</backend_model>
                    <upload_dir config="system" scope_info="1">images</upload_dir>
                </field>
            </group>
        </section>
    </system>
</config>
